body {
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
    color:  #394867;
}

/* Sections */



.bottom-page {
    text-align: center;
    background-color: #394867;
}
/* Components */
.boy {
    height: 400px;
    width: 400px;
}

.udemy {
    height: 10%;
    width: 10%;
}

.upc {
    height: 10%;
    width: 10%;
}
.coursera {
    height: 10%;
    width: 10%;
}

.icon {
    color: #394867;
}

.icon-bottom {
    color: white;
}

.navbar {
    padding: 2rem 0rem 10rem;
}

.nav-item {
    padding: 0 2rem;
}

.brand-name {
    margin-right: 45rem;
    font-weight: 800;
    font-size: 2rem;
}

.option-nav {
    font-weight: 800;
    font-size: 1rem;
}

.main-page {
    padding-bottom: 7rem;
}

#presentation {
    font-weight: 800;
    font-size: 3.5rem;
    line-height: 4.5rem;
}

/* .ilustr {
    padding-right: 100px;
} */

.title-info {
    padding-left: 70px;
    padding-right: 70px;
    font-weight: 400;
    font-size: 1.25rem;
}


/* SECTIONS */

#landing-page {
    background-color: #F1F6F9;
    padding-bottom: 5rem;
}

#aboutme {
    background-color: #394867;
    color: white;
}