body {
    font-family: 'Poppins', sans-serif;
    background-color: #F1F6F9;
}

a {
    text-decoration: none;
    color:  #394867;
}

h2 {
    font-weight: 700;
    font-size: 2.5rem;
}

h3 {
    font-weight: 600;
    color: white;
    padding: 0rem 1rem;
}
/* Sections */

.edu-card {
    padding: 3% 3%;
}

.sub-card {
    padding-bottom: 2rem;
}

.my-education {
    padding: 2rem 0rem;
}

.cards {
    padding-bottom: 5rem 0rem 6rem;
}

.card {
    background-color:  #394867;
    border-radius: 10%;
    margin: 1rem;
}

.card-body {
    padding: 1rem 1rem;
}

.bottom-page {
    text-align: center;
    background-color: #394867;
}
/* Components */
.boy {
    height: 400px;
    width: 400px;
}

.logo {
    height: 40%;
    width: 40%;
    padding: 2rem 0rem;
}

.icon {
    width: 19%;
    margin: 1rem 0.75rem;
}

.icon-bottom {
    color: white;
}

.icons-row {
    padding-left: 2.5rem;
}

.navbar {
    padding: 2rem 0rem 10rem;
}

.nav-item {
    padding: 0 2rem;
    text-align: center;
}

.brand-name {
    font-weight: 800;
    font-size: 2rem;
}

.option-nav {
    font-weight: 800;
    font-size: 1rem;
}

.main-page {
    padding-bottom: 7rem;
}

#presentation {
    font-weight: 800;
    font-size: 3.5rem;
    line-height: 4.5rem;
}

.about-me {
    padding: 4rem 0;
    line-height: 1.75rem;
}

#aboutme-title {
    padding-bottom: 1.25rem;
    font-size: 2.5rem;
}

.ilustr {
    text-align: center;
}
.title-info {
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 2rem;
    font-weight: 400;
    font-size: 1.25rem;
}

#bcn-img {
    padding-top: 1.75rem;
}


/* SECTIONS */

#landing-page {
    padding-bottom: 5rem;
}

#aboutme {
    background-color: #394867;
    color: white;
}

#myeducation {
    padding: 4rem;
}

#skills {
    background-color: #394867;
    padding: 5rem 0rem;
    color: white;
}