body {
    font-family: 'Poppins', sans-serif;
    background-color: #F1F6F9;
}

a {
    text-decoration: none;
    color:  #394867;
}

h2 {
    font-weight: 700;
    font-size: 2.5rem;
}

h3 {
    font-weight: 600;
    color: white;
    padding: 0rem 1rem;
}

textarea {
    resize: none;
    border-radius: 3%;
}
/* Sections */

.return {
    margin-top: 4rem;
    margin-bottom: 4rem;
}


.form-box {
    background-color: #394867;
    color: white;
    margin: 0rem 13rem;
    padding: 3rem;
    border-radius: 5%;
    box-shadow: 10px 10px 5px #BBBFCA;
}

.edu-card {
    padding: 3% 3%;
}

.sub-card {
    padding-bottom: 2rem;
}

.my-education {
    padding: 2rem 0rem;
}

.cards {
    padding-bottom: 5rem 0rem 6rem;
}

.card {
    background-color:  #394867;
    border-radius: 10%;
    margin: 1rem;
    box-shadow: 10px 10px 5px #BBBFCA;
}

.card:hover {
    box-shadow: 0px 0px 30px #FE53BB;
}

.card-body {
    padding: 1rem 1rem;
}

/* Components */
.boy {
    height: 400px;
    width: 400px;
}

.boy-2 {
    width: 30%;
    margin-bottom: 3rem;
}

.logo {
    height: 40%;
    width: 40%;
    padding: 2rem 0rem;
}

.icon {
    width: 19%;
    margin: 1rem 0.75rem;
}

.icon:hover {
    box-shadow: 0px 0px 30px #FE53BB;
}

.icon-bottom {
    color: white;
}

.icons-row {
    padding-left: 2.5rem;
}

.navbar {
    padding: 2rem 0rem 10rem;
}

.nav-item {
    padding: 0 2rem;
    text-align: center;
}

.brand-name {
    font-weight: 800;
    font-size: 2rem;
}

.option-nav {
    font-weight: 800;
    font-size: 1rem;
}

.main-page {
    padding-bottom: 7rem;
}

#presentation {
    font-weight: 800;
    font-size: 3.5rem;
    line-height: 4.5rem;
}

.about-me {
    padding: 4rem 0;
    line-height: 1.75rem;
}

#aboutme-title {
    padding-bottom: 1.25rem;
    font-size: 2.5rem;
}

.ilustr {
    text-align: center;
}
.title-info {
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 2rem;
    font-weight: 400;
    font-size: 1.25rem;
}

#coming-soon {
    font-size: 4.5rem;
    font-weight: 700;
    color: #394867;
}

#bcn-img {
    padding-top: 1.75rem;
}

.fa-paper-plane {
    margin: 2rem 0rem;
    color: #394867;
}

.fa-file-alt {
    margin: 2rem 0rem;
    color: #394867;
}

.btn {
    margin-top: 2rem;
    background-color: #394867;
    color: white;
}

.btn-primary:hover {
    background-color: white;
    color: #394867;
}

.bottom-title {
    margin: 0rem 0rem 2rem;
    font-weight: 600;
}

.bottom-icon {
    margin: 1rem;
}

.copyright {
    margin: 2rem;
}

#contact-title {
    font-size: 3.5rem;
    font-weight: 600;
    color: #394867;
}

.s1 {
    padding: 3rem;
}
/* SECTIONS */

#landing-page {
    padding-bottom: 5rem;
}

#aboutme {
    background-color: #394867;
    color: white;
}

#myeducation {
    padding: 4rem;
}

#skills {
    background-color: #394867;
    padding: 5rem 0rem;
    color: white;
}

#contactme {
    padding: 6rem;
}

#bottompage {
    margin-top: 3rem;
    padding: 3rem;
    text-align: center;
    background-color: #394867;
    color: white;
}

#work {
    padding: 7rem;
}

/* Media Queries */

@media (max-width: 990px) {

    .card {
        width: 40%;
        margin-left: 12rem;
    }

    .form-box {
        margin: 0rem 3rem;
        padding: 3rem;
    }

    .icon {
        width: 15%;
    }

    .icons-row {
        padding-left: 8rem;
    }

    .skills-title {
        padding-top: 3rem;
    }

}

@media (max-width: 1226px) and (min-width: 991px) {
    
    .card {
        width: 110%;
    }

    .skills-title {
        padding-top: 3rem;
    }
    
    .form-box {
        margin: 0rem 10rem;
        padding: 3rem;
    }
}